@tailwind base;
@tailwind components;
@tailwind utilities;

.glowing {
    border-radius: 100px;
    animation: glow 1s infinite alternate;
}

@keyframes glow {
  from {
    color: #7826c4;
    text-shadow: #9333EA 1px 0 -10px;
  }
  to {
    color: #9333EA;
    text-shadow: #9333EA 1px -20px 40px;
  }
}

.animate-slide-left{
  animation: slide-left 1s 900ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.animate-slide-right{
  animation: slide-right 1s 900ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes slide-left {
  from {
    transform: translate(0,0);
  }
  to {
    transform: translate(-100%, 0)
  }
}
@keyframes slide-right {
  from {
    transform: translate(0,0);
  }
  to {
    transform: translate(100%, 0)
  }
}

*::-webkit-scrollbar {
  display: none;
}
